.container {
    display: flex;
    flex-direction: column;
    background-color: var(--Rose50);
    padding: 2rem;
    border-radius: 1rem;
    gap: 3rem;

    .header {
        color: var(--Red);
    }

    .image {
        width: 50%;
        align-self: center;
    }

    .text {
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        color: var(--Rose500)
    }
}